.leaf{
  padding: 10px;
  padding-left: 50px;
  user-select: none;

  &.folder{
    background: url('images/folder.svg') no-repeat 10px 50%;
    background-size: 30px 30px;

    &:before{
      content: '[';
      color: #ccc;
    }

    &:after{
      content: ']';
      color: #ccc;
    }

    &.selected{
      background-color: rgba(0,0,0,0.1);
    }
  }

  &.file{
    position: relative;

    &:before{
      content: "";
      position: absolute;
      left: 20px;
      top: 50%;
      height: 10px;
      width: 10px;
      margin-top: -5px;
      background: #ccc;
      border-radius: 100%;
    }
  }
}
