html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

#application{
  background: #fefefe;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
