.folder-trace{
  display: flex;

  & > div{
    display: flex;
    align-items: center;

    .name{
      padding: 10px;
      color: #828282;
    }

    &:last-child{
      .name{
        color: #000;
      }
    }

    .arrow{
      margin: 5px;
    }
  }

  .arrow{
    background: url('images/arrows.svg') no-repeat 0 0;
    height: 10px;
    width: 10px;
    background-size: cover;
  }
}
